.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
-ruff_cache
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip
myenv
# vim temporary files
*~
.*.sw?
.env
*.log
exports
myvenv
app/booking_app_backend_admin/